body {
    font-family: Railway, Helvetica Neue, Helvetica, sans-serif;
}

.labelfor {
    color:#666666;
    font-weight: bold;
    font-size: 11px;
}

.warningmessage {
    padding:10px;
    background-color:#FEEFB3;
    color:#9F6000;
    font-weight: bold;
    margin:10px;
}

#login {
    margin: 60px auto 20px auto;
    width: 600px;
    padding: 20px;
    border: thin solid #CCCCCC;
    border-radius: 5px;
    background-color: #EEEEEE;
    text-align: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

#login input {
    margin: 0 auto 10px;
}

#login input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: thin solid #CCCCCC;
}

#login input[type="password"] {
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: thin solid #CCCCCC;
}

#login button {
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: thin solid #CCCCCC;
    background-color: #333333;
    color: white;
}

#results {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    border: thin solid #999999;
    background-color: #EEEEEE;
    text-align: left;
    font-family: Consolas,Courier,monospace;
}

#ils-type select {
    width:300px;
    height:30px;
    font-size: 18px;
}

#logo {
    margin-bottom:20px;
}

#logo img {
    max-width: 560px;
    max-height: 120px;
}

#helptext {
    max-width: 600px;
    margin: 20px auto;
}

.ui-tooltip {
    background-color: white;
    padding: 10px;
    border: thin solid #CCCCCC;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    width: 250px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}